.favorites {
    width: 70%;
}

.date-added {
    color: #6C606C;
}

.thumbnail {
    display: block;
    width: 100px;
    margin-bottom: 10px;
}

h4, ul {
    color: #201D20;
    list-style-type: square;
}

h4 {
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
}

.date-added {
    margin: 0;
    margin-bottom: 5px;
    font-size: 0.9em;
}

textarea {
    color: #6C606C;
    font-size: medium;
    font-style: italic;
    resize: none;
    font-family: serif;
    border: none;
    width: 100%;
}

textarea:focus {
    outline: none;
}

.title-box {
    display: flex;
    justify-content: space-between;
}

.delete-button {
    height: 22px;
    width: 22px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
}