.title {
    color: #201D20;
}

.grid-box-gallery {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  justify-content: space-between;
  padding-top: 7vh;
}

.art-display {
  height: 100vh;
}

.title {
  margin-top: 2vh;
}

.author {
  margin-top: 2%;
  margin-bottom: 4%;
}

.description-box {
  width: 200px;
  margin-left: 100px;
  height: 100vh;
  justify-content: right;
}

.heart-box {
  display: flex;
  justify-content: left;
}

h2 {
  margin: 0;
  padding: 0;
}

.artwork-box {
  display: block;
  height: 75vh;
}



.artwork {
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.heart-icon {
  width: 60px;
  height: 60px;
  margin-top: 30vh;
}

.heart-icon:hover {
  cursor: pointer;
  filter: brightness(101%);
} 

.counter-box {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}

.counter {
  margin: 0;
}

.hidden {
  color: grey
}