.title {
    color: #201D20;
}

.grid-box-gallery {
  background-color: #F5F4F5;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
}

/* Artwork */

.art-display {
  height: 100vh;
}

.artwork-box {
  height: 87%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork {
  max-width: 96%;
  max-height: 93%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Counter */

.counter-box {
  height: 13%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  margin: 0;
}

.counter-button {
  width: 70px;

  background-color: #E2DFE2;
  color: #201D20;

  border: none;
  padding: 6px;
  margin-right: 9px;

  font-family: serif;
  font-size: 15px;
}

.counter-button:hover {
  cursor: pointer;

  background-color: #D8D4D8;
}

.hidden {
  color: grey
}

.hidden:hover {
  cursor: default;
}

/* Description */

.description-box {
  width: 80%;
}

.description-display {

  display: flex;
  justify-content: right;
  
  padding-top: 60%;
}

/* Heart Icon */

.heart-icon:hover {
  display: block;
  cursor: pointer;

  opacity: 100%;
} 

.artwork:hover~.heart-icon{
  display: block;
}

.heart-icon {
  position: absolute;
  display: none;

  opacity: 70%;

  height: 70px;
  width: 70px;
}
