body { 
  margin: 0;
  padding: 0;
}

main {
  color: #6C606C;
  background-color: white;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-box {
  margin: 0;
  background-color: #F5F4F5;
  display: grid;
  grid-template-columns: 2fr 11fr;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  height: 100vh;
  padding-top: 2vh;
  padding-left: 3%;
}

.active {
  font-weight: bold;
}

.navigation {
  display: block;
  color: #6C606C;
  text-decoration: none;
}

.navigation:hover {
  text-decoration: underline;
}

.arrow {
  border: solid #6C606C;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

